{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Home</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Hello World</div>
            <div class="card-category">Welcome to PSUSPHERE</div>
          </div>
          <div class="card-body">Hello, User!</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}