{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Home</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">List of Organizations</div>
            <div class="card-category">Page Subtitle</div>
          </div>
          <div class="card-body">
            <table class="table table-stripped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">College</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ object.name }}</td>
                        <td>{{ object.college }}</td>
                        <td>{{ object.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'includes/pangination.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}