{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Members of Organizations</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">List of Org Members</div>
                        <div class="card-category">Students with their respective Organization</div>
                    </div>
                    <br>
                        <div class="col-md-12 row">
                            <div class="col-md-6">
                                <form action="" class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'orgmem-list' %}">
                                    <div class="input-group">
                                        <input type="text" placeholder="Search ..." class="form-control" name="q">
                                        <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-search search-icon"></i>
                                        </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <a href="{% url 'orgmem-add' %}" class="btn btn-success btn-rounded">Add OrgMember</a>
                                </div>
                            </div>
                        </div>
                    <div class="card-body">
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Student</th>
                                    <th scope="col">Organization</th>
                                    <th scope="col">Date Joined</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td>{{ object.student }}</td>
                                    <td>{{ object.organization }}</td>
                                    <td>{{ object.date_joined }}</td>
                                    <td><a href="orgmem_list/{{ object.id }}">Edit</a></td>
                                    <td><a href="orgmem_list/{{ object.id }}/delete" class="text-danger">Delete</a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" style="text-align: center">
                                    <p class="text-sm font-weight-bold mb-0">No Records Found</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include 'includes/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}